[Unit]
Description=A job to backup the homelab containers

[Service]
Type=simple
ExecStart=/home/vol-docker/backup/backup.sh

[Install]
WantedBy=default.target
